.layui-card{
    min-height: 260px;
}
.layui-col-space15{
    padding:3px;
}
.layui-card-body{
    padding: 1px 5px;
}
.layui-card-header{
    padding: 0px 5px;
    height: 30px;
    line-height: 30px;
}
.layui-form-item{
    margin-bottom: 5px;
    margin-top: 5px;
}
.layui-form-label{
    width: 200px;
}
.alavalueinput{
    min-width: 450px;
}